{% extends "learning_topics\\base.html" %}


{% block page_header %}
    <h1>Topics</h1>
{% endblock page_header %}

{% block content %}

    <ul>
        {% for topic in topics %}
        <h3>
            <li>
            <a href="{% url 'learning_topics:topic' topic.id %}"> {{ topic.text }} </a>
            </li>
        </h3>
        {% empty %}
        <h3>
            <li>No topics have been added yet</li>
        </h3>
        {% endfor %}
    </ul>

    <h3>
        <a href="{% url 'learning_topics:new_topic' %}">- Add new topic
        </a>
    </h3>

{% endblock content %}